body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.container {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.window {
  width: 50vw; /* 50% от ширины окна браузера */
  height: 50vh; /* 50% от высоты окна браузера */
  border: 2px solid #4caf50;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px; /* Устанавливаем отступ сверху */
  left: 50px; /* Устанавливаем отступ слева */
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #333;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: scale(0.9); /* Убираем смещение по оси X */
  flex-direction: column;
}
.window.active {
  display: flex;
  opacity: 1;
  transform: scale(1); /* Убираем смещение по оси X */
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%; /* Добавлено для растягивания по ширине */
  flex-direction: row; /* Убедимся, что элементы располагаются в строку */
}
.date-picker label,
.date-picker input {
  width: auto; /* Добавлено для автоматической ширины */
}
.circles {
  display: flex;
  justify-content: center;
  margin-top: 60Vh; /* Отступ сверху для кружочков */
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.circle.active {
  background-color: #4caf50;
}
.circle:hover {
  background-color: #888;
}
.options {
  margin-top: 10px;
}
.options button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.options button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.options button:hover:not(:disabled) {
  background-color: #9578ad;
}

.radio-options {
  margin-top: 10px;
}
.radio-options label {
  margin-right: 10px;
}
.radio-options input:disabled + label {
  color: #ccc;
}

.options button.active {
  background-color: #a04598; /* Цвет кнопки при активном состоянии */
}


















/* Стили для обертки кнопок */
.button-container {
  display: flex;
  gap: 10px; /* Отступ между кнопками */
  position: absolute;
  top: 10px;
  left: 10px;
}


/* Стили для дропдауна */
.dropdown {
 /* position: absolute; */
  position: relative; /* Теперь относительно обертки */
  top: 10px;
  left: 10px;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  padding: 8px;
  display: block;
}

.dropdown-content label {
  display: flex;
  align-items: center; /* Выровняем чекбоксы и текст по вертикали */
  padding: 8px;
  color: black;
}
.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 10px;
}